h1{color: #FF0000; text-align: center;}
h2 {color: #008000; font-size: 25px}
b {color: #FF0000; font-size: 20px;}
i{color: #0000FF; font-weight: bold;}
p{font: 12px/25px "Arial"; width: 500px; text-align: justify;}
ul {color: #924763; font-style: italic; width: 500px;}
ol{color: #FF0000;}